<configuration>
    <appSettings>
        <add key="brokerendpoint" value="https://paper-api.alpaca.markets/"/>
        <add key="brokerapikeyid" value="%BROKER_API_KEY_ID%"/>
        <add key="brokerapikeysecret" value="%BROKER_API_KEY_SECRET%"/>
        <add key="datasourceendpoint" value="https://cloud.iexapis.com/beta"/>
        <add key="datasourcetoken" value="%DATASOURCE_TOKEN%"/>
        <add key="databaseconnectionstring" value="%DATABASE_CONNECTION_STRING%"/>
        <add key="predictorendpoint" value="%PREDICTOR_ENDPOINT%"/>
    </appSettings>
</configuration>
